# pfSense sozlamalari
PFSENSE_HOST=https://pfsense.namspi.uz        # pfSense IP yoki domen
PFSENSE_USER=admin2                      # pfSense username
PFSENSE_PASSWORD=admin3      # pfSense paroli

# Telegram sozlamalari
TELEGRAM_TOKEN=8553717325:AAHBPMNmlmwHcGHozoIZIoHe0HXcK2l3pOM   # BotFather dan olingan token
TELEGRAM_CHAT_ID=-678302121          # Chat yoki group ID (group uchun minus bilan)

# Backup vaqti (24 soatlik format)
BACKUP_TIME=08:00                        # Har kuni soat 08:00 da
